<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xtml" xmlns:th="http://www.thymeleaf.org"> 
	  
	  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <!--Import materialize.css-->
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	  <!-- Compiled and minified JavaScript -->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<head>
<meta charset="UTF-8">
<title>Cidade</title>
</head>
<body>
<form action="salvarcidade" method="post">
<label>Nome</label>
<input name="nome"><br>
<input class="waves-effect waves-light btn" type="submit" value="salvar">
</form>
<br>
	<a href="/listacidades">Lista Cidades</a>
<table>
 	<tr th:each = "cidade : ${cidades}"> 
 	<td th:text = "${cidade.id}"></td>
 	<td th:text = "${cidade.nome}"></td>
 	</tr>
</table>


</body>
</html>