<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Contato</title>
	  <!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
      <!--Import materialize.css-->
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	  <!-- Compiled and minified JavaScript -->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	
<style type="text/css">
	table.striped>tbody>tr:nth-child(odd) {
		background-color:rgba(158,154,154,0.5);	
	}

	form input[type = submit] {
		color: white; 	
	}

</style>
</head>
<body>
	<h3>Meu sistema</h3>
	<h5>Cadastro de Pessoa</h5>
	
	<a class="waves-effect waves-light btn" href="/cadastropessoa">Cadastro Pessoas</a>
	<div th:each="p : ${pessoaobj}">
			<div class = "row" >
			<p> ID: <span th:text="${p.id}"></span></p>
			<p> Nome: <span th:text="${p.nome}"></span></p>
			<p> E-mail: <span th:text="${p.e_mail}"></span></p>
			<p> Idade: <span th:text="${p.idade}"></span></p>
			
			</div>
	
	</div>
	<h5>Telefones</h5>
	<div class="row">	
		<br/>
	<div th:each = "m : ${msg}">
		<span th:text = "${m}"></span>
	</div>
		<br/>
		
		<form th:action="@{/adicionarcontato/{pessoaid}(pessoaid = ${pessoaobj.id})}" method="post" class="col s12" onsubmit="return validarCampos()? true: false;">
			<div class="row">
				<div class="input-field col s6">
					<label class= "active" for="numero">Número:</label>
					<input id="numero" name="numero" class="validate">
				</div>
				
				<div class="input-field col s6">
					<label class= "active" for="numero">Tipo:</label>
					<input id="tipo" name="tipo" class="validate">
				</div>
				
				<input type="submit" value="Adicionar" class="waves-effect waves-light btn">
				<a class="waves-effect waves-light btn" th:href="@{/listarContatos/{pessoaid}(pessoaid = ${pessoaobj.id})}">Listar</a>
			</div>	
		</form>
	</div>	
	
	<div class="row">	
	<table class= "striped">
	<thead>
	<tr>
		<th>ID</th>
		<th>Número</th>
		<th>Tipo</th>
		<th>Editar</th>
		<th>Excluir</th>
	</tr>
		<tr th:each="contato : ${contatos}">
			<td th:text="${contato.id}"></td>
			<td th:text="${contato.numero}"></td>
			<td th:text="${contato.tipo}"></td>
			<td><a th:href="@{/editarcontato/{idcontato}(idcontato = ${contato.id})}">Editar</a></td>
			<td><a th:href="@{/excluircontato/{idcontato}(idcontato = ${contato.id})}">Excluir</a></td>
		</tr>

	</table>
	</div>
	
	<script type="text/javascript">
	function validarCampos(){
		numero = document.getElementById('numero')value;
		tipo = document.getElementById('tipo').value;
		
		
		if (numero === '')
			alert('Número deve ser informado');
			return false;
		else if (tipo === '')
			alert('Tipo deve ser informado');
			return false;
			else{
				return true
			}
	}
	
	</script>
</body>
</html>