<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Cadastro de Pessoa</title>

 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        
    <!-- Adicionando JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
      
<style type="text/css">
	table.striped>tbody>tr:nth-child(odd) {
		background-color: rgba(158, 154, 154, 0.5);
	}

	form input[type=submit] {
 	color: white;
	}
</style>
</head>
<body>
	<h5>Cadastro de Pessoa</h5>
	
<div class="row">
	<br/>
	<div th:each = "m : ${msg}">
		<span th:text = "${m}"></span>
	</div>

		<form action="salvarpessoa" method="post" th:object="${pessoaobj}" class="col s12" id="formpessoa">
			<div class="row">
				<div class="input-fiel col s2">
					<label for="id">ID</label> 
					<input name="id" th:field="*{id}" readonly="readonly" id="id" class="validate">
				</div>
				
				<div class="input-fiel col s10">
					<label for="nome" class="active">Nome</label> 
					<input placeholder="Informe o nome da pessoa." name="nome" th:field="*{nome}" id="nome" class="validate">
				</div>
			</div>
			<div class="row">
				<div class="input-fiel col s6">
					<label for="e_mail" class="active">E-mail</label> 
					<input placeholder="Informe o e-mail." name="e_mail" th:field="*{e_mail}" id="e_mail" class="validate">
				</div>
			</div>
			
			<div class= "row">
				<div class="input-fiel col s6">
					<label for="sexo" class="active">Sexo</label> 
					<select class="browser-default" th:field="*{sexo}">
						<option value="" disabled selected>--[Selecione]--</option>
						<option value="MASCULINO" th:text= "Masculino"/>
						<option value="FEMININO" th:text="Feminino"/>
					</select>
				</div>

				<div class="input-field col s6">
				 <label for="profissao" class="active">Profissão</label>
				 <select class="browser-default" th:field="*{profissao}" id="profissao">
						<option th:each = "p : ${profissoes}" th:value="${p.id}" th:text="${p.descricao}">
				 </select>
				</div>
			</div>
			
			<div class= "row" sec:autorize="hasanyrole('ROLE_TECNICO','ROLE_CAIXA')">
				<div class="input-fiel col s12">
					<label for="idade">Idade</label> 
					<input placeholder="Informe a idade da pessoa." name="idade" th:field="*{idade}" id="idade" class="validate">
				</div>
			</div>
			
			<div class= "row">
				<div class="input-fiel col s6">
					<label for="cep" class="active">Cep</label> 
					<input placeholder="Informe o CEP." name="cep" th:field="*{cep}" id="cep" class="validate">
				</div>
			</div>
			
			<div class= "row">
				<div class="input-fiel col s12">
					<label for="rua" class="active">Rua</label> 
					<input placeholder="Informe a rua." name="rua" th:field="*{rua}" id="rua" class="validate">
				</div>
			</div>
			
			<div class= "row">
				<div class="input-fiel col s12">
					<label for="bairro" class="active">Bairro</label> 
					<input placeholder="Informe o bairro." name="bairro" th:field="*{bairro}" id="bairro" class="validate">
				</div>
			</div>
			
			<div class= "row">
				<div class="input-fiel col s12">
					<label for="cidade" class="active">Cidade</label> 
					<input placeholder="Informe a cidade." name="cidade" th:field="*{cidade}" id="cidade" class="validate">
				</div>
 			</div>
			
			<div class= "row">
				<div class="input-fiel col s12">
					<label for="uf" class="active">UF</label> 
					<input placeholder="Informe a UF." name="uf" th:field="*{uf}" id="uf" class="validate">
				</div>
			</div>
			
			<div class= "row">
				<div class="input-fiel col s12">
					<label for="ibge" class="active">IBGE</label> 
					<input placeholder="Informe o código do IBGE" name="ibge" th:field="*{ibge}" id="ibge" class="validate">
				</div>
			</div>
 			
			
			
			
			
			<div class= "row">
				<div class="input-fiel col s12">
					<input class="waves-effect waves-light btn" type="submit" value="Salvar"></input>
					<button class="waves-effect waves-light btn" onclick="document.getElementByID('formpessoa').reset;">Novo</button>
				</div>	
			</div>		
		</form>
</div>	


<fieldset>
<legend>Campos de pesquisa</legend>
	<div class="row">
		<form action="pesquisarpessoa" method="post" class="col s12" id="pesquisarpessoa">
			<div class="input-fiel col s6">
				<label for="nomepesquisa" class="active">Pesquisa por Nome:</label> 
				<input name="nomepesquisa" id="nomepesquisa" class="valide">
			</div>
			
			<div class="input-fiel col s6">
				<label for="pesquisasexo" class="active">Pesquisa por Sexo:</label> 
				<select class="browser-default" name="pesquisasexo" id="pesquisasexo">
						<option value="">--[Todos]--</option>
						<option value="MASCULINO" th:text= "Masculino"/>
						<option value="FEMININO" th:text="Feminino"/>
					</select>				
			</div>
			
				<div class="input-fiel col s12">
					<input class="waves-effect waves-light btn" type="submit" value="PDF" onclick="document.getElementById('pesquisarpessoa').method = 'get'">
					<input class="waves-effect waves-light btn" type="submit" value="Buscar">
					<a class="waves-effect waves-light btn" href="/listapessoas">Lista Pessoas</a>
				</div>
		</form>
	</div>
</fieldset>
	
	<table class= "striped">
		<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>E-mail</th>
					<th>Idade</th>
					<th>Editar</th>
					<th>Excluir</th>
				</tr>
				<tr th:each="pessoa : ${pessoas}">
					<td th:text="${pessoa.id}"></td>
					<td> <a th:href="@{/listarContatos/{idpessoa}(idpessoa = ${pessoa.id})}"><span th:text="${pessoa.nome}"> </span></a></td>
					<td th:text="${pessoa.e_mail}"></td>
					<td th:text="${pessoa.idade}"></td>
					<td><a th:href="@{/editarpessoa/{idpessoa}(idpessoa = ${pessoa.id})}">Editar</a></td>
					<td><a th:href="@{/excluirpessoa/{idpessoa}(idpessoa = ${pessoa.id})}">Excluir</a></td>
				</tr>
		</thead>
	</table>
	
	 <!-- Adicionando Javascript -->
    <script type="text/javascript" >

        $(document).ready(function() {

            function limpa_formulário_cep() {
                // Limpa valores do formulário de cep.
                $("#rua").val("");
                $("#bairro").val("");
                $("#cidade").val("");
                $("#uf").val("");
                $("#ibge").val("");
            }
            
            //Quando o campo cep perde o foco.
            $("#cep").blur(function() {

                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {

                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if(validacep.test(cep)) {

                        //Preenche os campos com "..." enquanto consulta webservice.
                        $("#rua").val("...");
                        $("#bairro").val("...");
                        $("#cidade").val("...");
                        $("#uf").val("...");
                        $("#ibge").val("...");

                        //Consulta o webservice viacep.com.br/
                        $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                            if (!("erro" in dados)) {
                                //Atualiza os campos com os valores da consulta.
                                $("#rua").val(dados.logradouro);
                                $("#bairro").val(dados.bairro);
                                $("#cidade").val(dados.localidade);
                                $("#uf").val(dados.uf);
                                $("#ibge").val(dados.ibge);
                            } //end if.
                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            });
        });

    </script>	
	
</body>
</html>